.messages-main-container{
    padding: 0 1rem 0 1rem;
    width: 100%;
   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0.5rem;

}

/* ::-webkit-scrollbar{
    
}

 ::-webkit-scrollbar-track{

}
::-webkit-scrollbar-thumb{
    background-color: rgb(28, 36, 200) !important;
} */


.mediaImage{
    width: 14rem;
    height: 15rem;
}
.videoclass{
    width: 16rem;
    height: 12rem;
}

.emoji_logo{
    width: 1.1rem;
    margin: 0.2rem;
    position: relative;
    top: 0.4rem;
}


.emoji_logo:hover{
    background-color: rgb(242, 208, 196);
}
.messages-main-container__text-left{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}


.messages-main-container__text-right{
    align-self: flex-start;
    justify-self: flex-start;
    display: flex;
    
}

.messages-main-container__text-inner{
   
  width: 17rem; 
   
   background-color: #D5FFD5;
   border-radius: 0.2rem;
}
.messages-main-container__h3{
    font-size: 1rem;
    padding-left: 0.5rem;
    position: relative;
    top: 0.3rem;
    font-weight: 600;
    
}
.messages-main-container__p{
    font-size: 0.6rem;
    float: right;
position: relative;
right: 0.5rem;
}
.location_container{
    border: none;
    width: 14.2rem;
    height: 15rem;
 
}
.download__icon{
    width: 1.5rem;
    position: relative;
    float: right;
    right: 0.8rem;
    bottom: 0.3rem;
}


.emoji_logo{
    display: none;
}

.messages-main-container:hover .emoji_logo{
    display: block;

}

.messages-main-container-all{
    background-color: pink;
    height: 60vh !important;
    overflow-y: scroll;
}
.form-container{
    background-color: #EAEAEA;
    height: 4.86rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.form-container__icons{
width: 1.68rem;
height: 1.68rem;
}

form>input{
    width: 50.86rem;
    height: 2.86rem;
    border-radius: 0.45rem;
    background-color:#fff ;
    border: none;
    outline: none;
    padding-left: 1.5rem;
    font-size: 1rem;
}
.form-container__btn{
    background-color: var(--brandClr);
    padding: 0.3rem;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    right: 3rem;
    top: 0.65rem;

}
.Toastify__toast-theme--dark {
  
    margin-top: 2rem;
}
.mediaDocument{
    width: 16rem;
    height: 12rem;
}
