.messages-main-container{
    padding: 0 1rem 0 1rem;
    width: 100%;
   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0.5rem 2rem 0.5rem 2rem;

}

 ::-webkit-scrollbar{
    width: 0.45rem;
}

 ::-webkit-scrollbar-track{

}
::-webkit-scrollbar-thumb{
    background-color: rgba(137, 46, 153, 0.558) !important;
border-radius: 1rem;
}


.mediaImage{
    width: 17rem;
    height: 18rem;
    margin-top: 0.3rem;
}
.videoclass{
    width: 17rem;
    height: 12rem;
    position: relative;
    bottom: 0.8rem;
}

.emoji_logo{
    width: 1.1rem;
    margin: 0.2rem;
    position: relative;
    top: 0.4rem;
}


.emoji_logo:hover{
    background-color: rgb(242, 208, 196);
}
.messages-main-container__text-left{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}


.messages-main-container__text-right{
    align-self: flex-start;
    justify-self: flex-start;
    display: flex;
    
}

.messages-main-container__text-inner{
   width: 17rem; 
  
   border-radius: 0.2rem;
}
.messages-main-container__h3{
    font-size: 1rem;
    padding-left: 0.5rem;
    position: relative;
    top: 0.6rem;
    font-weight: 600;
    
}
.Polygon{
    width: 1rem;
    height: 1rem;
    color: #D5FFD5;
}
.messages-main-container__p{
    font-size: 0.7rem;
    float: right;
position: relative;
right: 0.5rem;
margin-top: 0.4rem;
}
.location_container{
    border: none;
    width: 17rem;
    height: 14rem;
    margin-top: 0.4rem;
}
.location__link{
    position: relative;
    left: 0.5rem;
    bottom: 0.4rem;
    color: blue;
}
.download__icon{
    width: 3rem;
    position: relative;
    float: right;
    right: 0.8rem;
    bottom: 0.3rem;
}


.emoji_logo{
    display: none;
}

.messages-main-container:hover .emoji_logo{
    display: block;
    cursor: pointer;

}
audio{
    width: 16rem;
    height: 3rem;
    margin: 0.5rem;
}

.messages-main-container-all{
    background-image: url(/public/assets/chatbackgroundimage.png);
    background-size: cover;
    height: 76vh;
    overflow-y: scroll;
}
.form-container{
    background-color: #EAEAEA;
    height: 4.86rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.form-container__icons{
width: 1.68rem;
height: 1.68rem;
cursor: pointer;
}

form>input{
    width: 50.86rem;
    height: 2.86rem;
    border-radius: 0.45rem;
    background-color:#fff ;
    border: none;
    outline: none;
    padding-left: 1.5rem;
    font-size: 1rem;
}
.form-container__btn{
    background-color: var(--brandClr);
    padding: 0.3rem;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    right: 3rem;
    top: 0.65rem;

}
/* .Toastify__toast-theme--dark {
  
    margin-top: 2rem;
} */
.mediaDocument{
    width: 16.6rem;
    height: 12rem;
    margin: 0.5rem;
}
.form-container__text-box{
    height: 12rem;
}
.epr-main{
    width: 99% !important;
    height: 60% !important;
}
.epr_-8ygbw8{
padding: 1rem !important;
}
.epr_-kg0voo {
    display: none !important;
}
.messages-main-container-reaction-picker .epr-main{
   width: 18.5rem !important;
   height: 3rem !important;
 
}
.messages-main-container-all__Reactions{
position: relative;
top: 0.8rem;
left: 0.5rem;
}
.messages-main-container-all__Reactions-names{
    background-color: white;
    padding: 1.5rem;
    border-radius: 1rem;
}

