
aside {
  width: 30%;
  height: 45rem;
  background: rgb(233, 233, 233);
  border-radius: 5px;
  margin: 5px;
  display: flex;
  flex-direction: column;
}
.sidebarHeader {
  display: flex;
  align-items: center;
  padding: 10px 20px 0px 20px;
}
.sidebarHeader button {
  height: 36px;
  border-radius: 0.3rem;
  width: 1.41rem;
  height: 1.57rem;
}

.addNewBtn {
  font-size: 1rem;
  margin-left: auto;
  cursor: pointer;
  border: 0;
}

.addNewBtn img{
  width: 1.25rem;
  height: 0.77rem;
}

.searchBox {
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding: 0 10px 0 10px;
  height: 1.72rem;
}
.searchBox input::placeholder{
padding-left: 0.5rem;
}


.searchBox button {
  all: unset;
  margin-top: 3px;
}

.searchBox input {
  width: 20.72rem;
  height: 1.90rem;
  border: 0px solid rgb(236, 236, 236);
  flex-grow: 1;
  border-radius: 4px;
  outline: none;
  position: relative;
  right: 0.5rem;
}

.hrLine {
  margin-top: 10px;
  border: 0.2px solid rgb(212, 212, 212);
  align-self: stretch;
  width: 100%;
}

.userList {
  border: 0.2px solid rgb(182, 182, 182);
  flex-grow: 1;
  overflow-y: scroll;
}

.userList li {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid rgb(202, 199, 199);
}
.userList li img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.userList li h1 {
  font-size: 20px;
  color: rgb(52, 53, 52);
}
.userList li p {
  font-size: 14px;
  color: rgb(162, 166, 162);
  margin-top: 5px;
}

.userPlaceholder {
  animation: blink 1s linear infinite;
}

.placeholderImg {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: grey;
  margin-right: 10px;
}
.placeholderText {
  /* animation: blink 1s linear infinite; */
}
.placeholderH1 {
  width: 100px;
  height: 10px;
  background-color: grey;
  border-radius: 2px;
}
.placeholderP {
  width: 80px;
  height: 10px;
  background-color: grey;
  margin-top: 10px;
  border-radius: 2px;
}

@keyframes blink {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.message_container{
  width: 70%;
  height: 30rem;
}